
OLD/.gitattributes
OLD/DS18B20.c
OLD/DS18B20.h
OLD/main.h
OLD/Thermometer for AtTiny2313.cproj
OLD/Thermometer for AtTiny2313.componentinfo.xml
OLD/new.txt
OLD/main.c
OLD/1/.gitattributes
OLD/1/DS18B20.c
OLD/1/DS18B20.h
OLD/1/main.c
OLD/1/main.h
OLD/2/Thermometer for AtTiny2313.componentinfo.xml
OLD/2/new.txt
OLD/2/main.c
OLD/2/main.h
OLD/2/DS18B20.c
OLD/2/DS18B20.h
OLD/1/Thermometer for AtTiny2313.cproj
OLD/1/new.txt
OLD/1/Thermometer for AtTiny2313.componentinfo.xml
OLD/Последняя рабочая.txt
OLD/Последняя рабочая_2.txt
OLD/Последняя рабочая_3.txt
